<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #h_3 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 5%;
            margin-bottom: 3%;
        }

        #ueberschrift {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <div id="ueberschrift">
        <h3 id="h_3">Alle ausstehenden Reservierungen aller Nutzer</h3>
    </div>
    <div id="table_div">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Reservierungs-ID</th>
                <th scope="col">Konsumenten-ID</th>
<!--                <th scope="col">Ort</th>-->
                <th scope="col">Anfangsdatum</th>
<!--                <th scope="col">Anfangs-Zeit</th>-->
                <th scope="col">Enddatum</th>
<!--                <th scope="col">End-Zeit</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:if="${reservierungen} == 0">
                <td colspan="4"> <h5>Es existieren im Moment keine ausstehenden Reservierungen</h5></td>
            </tr>
            <tr th:unless="${reservierungen} == 0" th:each="reservierung : ${reservierungen}">
                <td><span th:text="${reservierung.rid}">Reservierungs-ID</span></td>
<!--                TODO konsumentenid change the type, it is only displayed as the entity-->
                <td>
                    <div th:if="${reservierung.compareWithKonsument(konsumenten)} != null">
                        <span th:text="${reservierung.compareWithKonsument(konsumenten)}" >Konsumenten-ID</span>
                    </div>
                </td>

                <td><span th:text="${reservierung.start}">Startenddatum</span></td>
                <td><span th:text="${reservierung.ende}">Enddatum</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

</script>
</body>

</html>