<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <title>Vergangene Transaktionen</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #h_3 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 5%;
            margin-bottom: 3%;
        }

        #ueberschrift {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <div id="ueberschrift">
        <h3 id="h_3">Vergangene Transaktionen aller Nutzer</h3>
    </div>
    <div id="table_div">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Transaktions-ID</th>
                <th scope="col">Konsument-ID</th>
<!--                <th scope="col">Anbieter-ID</th>-->
                <th scope="col">betrag</th>
                <th scope="col">Gebühr</th>
                <th scope="col">Datum</th>
                <th scope="col">Parkplatz-ID</th>
                <th scope="col">abgeschlossen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${transaktionen} == 0">
                <td colspan="9"> <h5>Es existieren keine Transaktionen</h5></td>
            </tr>
            <tr th:unless="${transaktionen} == 0" th:each="transaktion : ${transaktionen}">
                <td><span th:text="${transaktion.tid}">Transaktions-ID</span></td>
                <td><span th:text="${transaktion.compareKid(konsumenten)}">Konsumenten-ID</span></td>
<!--                <td><span th:text="${transaktion.aid}">Anbieter-ID</span></td>-->
                <td><span th:text="${transaktion.betrag}">Betrag</span></td>
                <td>
                    <div th:if="${transaktion.gebuehr} == true">
                        <span>Park- und Strafgebühr</span>
                    </div>
                    <div th:unless="${transaktion.gebuehr} == true">
                        <span>Parkgebühr</span>
                    </div>
                </td>
                <td><span th:text="${transaktion.datum}">Datum</span></td>
                <td><span th:text="${transaktion.comparePid(parkplaetze)}">Parkplatz-ID</span></td>
                <td>
                    <div th:if="${transaktion.abgeschlossen} == true">
                        <span>Ja</span>
                    </div>
                    <div th:unless="${transaktion.abgeschlossen} == true">
                        <span>Nein</span>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

</script>
</body>

</html>