<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #navbar {
            width: 100%;
        }

        #sperren {
            text-align: center;
            margin-top: 30px;
        }

        #input {
            font-size: 20px;
            margin-top: 25px;
        }

        #res {
            margin-top: 2%;
            text-align: center;
        }

        #trans {
            margin-top: 2%;
            text-align: center;
        }

        input {
            margin: 1%;
        }

        #last {
            text-align: center;
        }

        .first_btn {
            width: 170px;
            margin-left: 10px;
            margin-right: 10px;
        }

        #btn-1 {
            margin: 1%;
        }

        #btn-2 {
            margin: 1%;
        }
        #anfang{
            margin-top: 3%;
        }
        h3{
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="home">{Logo}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mein_profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guthaben">Guthaben</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="login.html" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Parkplätze
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="parkplaetze_speziell">Meine Parkplätze</a>
                    <a class="dropdown-item" href="parkplatz_hinzufuegen">Parkplatz hinzufügen</a>
                    <a class="dropdown-item" href="parkplaetze">Alle Parkplätze</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testweiterleitung">Einstellungen</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" id="anfang">
    <div class="row" id="last">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="trans">
                <h3>Adminrechte Verwalten</h3>
                <form th:action="@{/rechteAendern}" method="post">
                    <input type="text" class="form-control" th:name="nutzerid2" placeholder="Nutzer-Id">
                    <div class="row">
                        <div class="col">
                            <button type="submit" id="btn-1" class="btn btn-outline-secondary last_btn"
                                    th:name="buttonAdmin" th:value="1">Adminrechte erteilen</button>
                        </div>
                        <div class="col">
                            <button type="submit" id="btn-2" class="btn btn-outline-secondary last_btn"
                                    th:name="buttonAdmin" th:value="2">Adminrechte
                                entziehen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col" id="sperren">
            <h3 id="ueberschrift1">Nutzer sperren/entsperren</h3>
            <form th:action="@{/sperren}" method="post">
                <div id="input">
                    <input type="text" class="form-control" th:name="nutzerid" placeholder="Nutzer-Id">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-secondary first_btn" th:name="buttonNutzer"
                                    th:value="1">Nutzer entsperren</button>
                        </div>

                        <div class="col">
                            <button type="submit" class="btn btn-outline-secondary first_btn" th:name="buttonNutzer"
                                    th:value="2">Nutzer sperren</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="col">
                <div id="sperren">
                    <h3>Nutzer löschen</h3>
                    <form th:action="@{/loeschen}" method="post">
                        <div id="input">
                            <input type="text" class="form-control" th:name="nid" placeholder="Nutzer-Id">
                            <div>
                                <button type="submit" class="btn btn-outline-secondary">Nutzer löschen</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="res">
        <div class="row">
            <div class="col">
                <div id="res">
                    <h3> Ausstehende Reservierungen </h3>
                    <a href="admin_alle_ausstehenden_reservierungen">
                        <button type="submit" class="btn btn-outline-secondary">Ausstehende Reservierungen</button>
                    </a>
                </div>
            </div>
            <div class="col">
                <div id="trans">
                    <h3>Vergangene Transaktionen</h3>
                    <a href="admin_vergangene_transaktionen"><button type="submit"
                                                                     class="btn btn-outline-secondary">Vergangene
                        Transaktionen</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>