<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        body {
            background-color: white;
        }

        #successful{
            font-size: 30px;
            margin-top: 120px;
            text-align: center;
        }
        #btn{
            margin-top: 30px;
            font-size: 10px;
        }
        #ueberschrift {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="home">{Logo}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mein_profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guthaben">Guthaben</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="login.html" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Parkplätze
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="parkplaetze_speziell">Meine Parkplätze</a>
                    <a class="dropdown-item" href="parkplatz_hinzufuegen">Parkplatz hinzufügen</a>
                    <a class="dropdown-item" href="parkplaetze">Alle Parkplätze</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testweiterleitung">Einstellungen</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <h2 id="ueberschrift">Es ist ein Fehler aufgetreten!</h2>
    <form action="#">
        <div class="text-center" id="successful">
            <div class="form-group" >
                <div> <label>
                    <span>Sie haben bereits einen Parkplatz angelegt. </span>
                    <span>Wenn sie einen neuen Anlegen möchten, </span>
                    <span>löschen sie bitte den bereits bestehenden!</span>
                </label> </div>
                <div id="btn">
                    <button type="submit" class="btn btn-outline-secondary btn-lg">
                        <a href="home">Zurück zur Startseite</a>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>


</html>