<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <style>
        #logo{
            text-align: center;
            margin: 1%;
        }
        #thanks{
            text-align: center;
            margin-top: 1%;
        }
        #name{
            font-family: 'Aclonica';
            font-size: 35px;
        }
        #team{
            text-align: center;
            margin-top: 1%;
        }
        #mail{
            text-align: center;
            margin: 1%;
        }
        #email{
            font-family: 'Aclonica';
        }
    </style>

</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container" id="anfang">
    <div id="logo">
        <h3>{Logo}</h3>
    </div>
    <div id="thanks">
        <h3>Vielen Dank für die Nutzung von <span id="name">Good2Park</span></h3>
    </div>
    <!--
    <div id="mail">
        <h3>Sie erreichen uns unter folgender E-mail: <span id="email">good2park.service@gmail.com</span></h3>
    </div>
    -->
    <div id="mail">
        <h3>Sie erreichen uns unter folgender E-mail: <a href="mailto:good2park.service@gmail.com">good2park.service@gmail.com</a></h3>
    </div>
    <div id="team">
        <h3>Unser Team:</h3>
        <h6>Sebastian Absmeier</h6>
        <h6>Melanie Brandl</h6>
        <h6>Christina Friedl</h6>
        <h6>Jasmin Hartl</h6>
        <h6>Maximilian Möginger</h6>
        <h6>Maximilian Lehner</h6>
        <h6>Matthias Scherzer</h6>
        <h6>Patrick Ziegleder</h6>
    </div>
</div>

</body>

</html>