<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" xmlns="http://www.w3.org/1999/html" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #head {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .input {
            margin-top: 20px;
            margin-bottom: 20px;
        }



        #checkbox {
            margin: 10px;
        }

        #reg {
            text-align: center;
        }

        #ueberschrift {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        #my_profile {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .h_6 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .row{
            margin: 1%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="home">{Logo}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mein_profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guthaben">Guthaben</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="login.html" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Parkplätze
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="parkplaetze_speziell">Meine Parkplätze</a>
                    <a class="dropdown-item" href="parkplatz_hinzufuegen">Parkplatz hinzufügen</a>
                    <a class="dropdown-item" href="parkplaetze">Alle Parkplätze</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testweiterleitung">Einstellungen</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div id="ueberschrift">
        <h2 id="my_profile">Mein Profil</h2>
    </div>
    <div class="row">
        <div class="col test">
            <h4 class="h_6">Vorname: </h6>
        </div>
        <div class="col">
            <h4 class="h_6" th:text="${nutzer.vorname}"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h_6">Nachname: </h6>
        </div>
        <div class="col">
            <h4 class="h_6" th:text="${nutzer.nachname}"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h_6">Kennzeichen: </h6>
        </div>
        <div class="col">
            <h4 class="h_6" th:text="${konsument.kennzeichen}"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h_6">Fahrzeugtyp: </h6>
        </div>
        <div class="col">
            <h4 class="h_6" th:text="${konsument.fahrzeugtyp}"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h_6">Email Adresse: </h6>
        </div>
        <div class="col">
            <h4 class="h_6" th:text="${nutzer.emailAdresse}"></h6>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="h_6">Mein Passwort: </h6>
        </div>
        <div class="col">
            <h4 class="h_6">Aus Datenbank (sollen wir das wirklich ausgeben?)</h6>
        </div>
    </div>
</div>
<script>

</script>
</body>

</html>