<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #h_3 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 5%;
            margin-bottom: 3%;
        }

        #ueberschrift {
            text-align: center;
        }

        .storno {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <div id="ueberschrift">
        <h3 id="h_3">Meine aktuellen Reservierungen</h3>
    </div>
    <div id="table_div">
        <table class="table table-striped">
            <thead>
<!--            TODO get Thymeleaf to work on the table-->
            <tr>
                <th scope="col">Reservierungs-ID</th>
                <th scope="col">Parkplatz-ID</th>
<!--                <th scope="col">Ort</th>-->
<!--                <th scope="col">Anfangs-Datum</th>-->
                <th scope="col">Anfangs-Zeit</th>
<!--            <th scope="col">End-Datum</th>-->
                <th scope="col">End-Zeit</th>
                <th scope="col">Reservierung stornieren</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservierung : ${reservierungen}">
                <td><span th:text="${reservierung.rid}">Reservierungs-ID</span></td>
                <td><span th:text="${reservierung.pid}">Parkplatz-ID</span></td>
<!--                TODO change the type of pid, because it only displays the entity code-->
                <td><span th:text="${reservierung.start}">Anfangszeit</span></td>
                <td><span th:text="${reservierung.ende}">Endzeit</span></td>
                <td class="storno">
                    <button type="submit" class="btn btn-outline-secondary btn-sm"
                            id="submit_btn"> stornieren </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

</script>
</body>

</html>