<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <title>Meine Reservierungen</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }

        .tital {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }
        body{
            text-align: center;
        }
        div{
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    <div class="box box-info">

                        <div class="box-body">
                            <div class="col-sm-12">

                                <br>

                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-12">
                                <h4 style="color:#7395AE;">Mein Profil </h4></span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">


                            <div class="col-sm-10 col-xs-6 tital ">Vorname:</div>
                            <div class="col-sm-12 col-xs-6 ">
                                <h6 class="h_6" th:text="${nutzer.vorname}">
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Nachname:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6" th:text="${nutzer.nachname}">
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Kennzeichen:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6" th:text="${konsument.kennzeichen}">
                                </h6>
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Fahrzeugtyp:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6" th:text="${konsument.fahrzeugtyp}">
                                </h6>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Email Adresse:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6" th:text="${nutzer.emailAdresse}">
                                </h6>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Guthaben:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6">
                                    <span th:text="${nutzer.saldo}"></span>
                                    <span> €</span>
                                </h6>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-10 col-xs-6 tital ">Parkplatz erstellt:</div>
                            <div class="col-sm-12">
                                <h6 class="h_6" th:if="${anbieter.parkplatz} == true">Ja</h6>
                                <h6 class="h_6" th:unless="${anbieter.parkplatz} == true">Nein</h6>
                            </div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>






<script>

</script>
</body>

</html>