<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="home">{Logo}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mein_profil">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guthaben">Guthaben</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parkplatz_allgemein">Parkplätze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="testweiterleitung">Einstellungen</a>
            </li>
        </ul>
        <button type="submit" class="btn btn-outline-secondary">
            <a href="logout">Logout</a>
        </button>
    </div>
</nav>
<div>
    <h2>
        <span> Hier sind die Links für:</span>
        <span>"Alle Parkplätze" und "Meine Reserierungen" </span>
    </h2>
</div>
</body>
</html>