<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <title>Parkplatz hinzufügen</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #row1 {
            margin-top: 30px;
        }

        #row {
            margin-top: 20px;
        }

        #row2 {
            margin-top: 20px;
        }

        #ueberschrift {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 30px;
        }

        #reg {
            text-align: center;
            margin-top: 20px;
        }

        #count {
            /*
            margin-left: 62%;
            */
            margin-left: 1%;
            color: #909090;
        }

        #warning {
            /*
            margin-left: 48%;
            */
            color: red;
        }
        #warning2 {
            /*
            margin-left: 48%;
            */
            color: red;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h2 id="ueberschrift">Parkplatz Hinzufügen</h2>
    <form action="#" th:action="@{/parkplatz_hinzufuegen}" method="post">
        <div class="row" id="row1">
            <div class="col">
                <input id="plz" onchange="plzregex();" type="text" th:value="*{parkplatz.plz}" th:name="plz" class="form-control" placeholder="PLZ">
            </div>
            <!--
        <div class="col">
            <input type="text" class="form-control" placeholder="Ort">
        </div>
    -->
            <div class="col-4">
                <input type="text" th:value="*{parkplatz.strasse}" th:name="strasse" class="form-control"
                       placeholder="Straße" maxlength="30">
            </div>
            <div class="col-2">
                <input type="number" th:value="*{parkplatz.hausnummer}" th:name="hausnummer" class="form-control"
                       placeholder="Hausnummer" min="0" max="999">
            </div>
        </div>
        <div class="row" id="row2">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Bild auswählen</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Parkplatz Art</label>
                    </div>
                    <select class="custom-select select_parkplatz" id="inputGroupSelect01"
                            onchange="changeTextbox();" th:name="parkplatzChecked">
                        <option value="1">Privater Parkplatz</option>
                        <option value="2">Öffentlicher Parkplatz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="row3">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">EUR</span>
                    </div>
                    <input type="number" th:value="*{parkplatz.parkgebuehr}" name="parkgebuehr" class="form-control"
                           aria-label="Amount (to the nearest dollar)" placeholder="Parkgebühr" id="parkgebuehr" min="0" max="999999">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">EUR</span>
                    </div>
                    <input type="number" th:value="*{parkplatz.strafgebuehr}" name="strafgebuehr"
                           class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Strafgebühr"
                           id="strafgebuehr" min="0" max="999999">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row4">
            <div class="col">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:name="fahrzeugtyp" th:value="SUV">SUV
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:name="fahrzeugtyp"
                               th:value="Kleinwagen">Kleinwagen
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:name="fahrzeugtyp" th:value="Van">Van
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" th:name="fahrzeugtyp" th:value="Kombi">Kombi
                    </label>
                </div>
            </div>
            <div class="col">
                <input type="number" th:name="zeitbegrenzung" class="form-control"
                       placeholder="Parkhöchstdauer in Min (MAX 999)" min="0" max="999" id="parkhoechstdauer">
            </div>
        </div>
        <div class="row" id="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Beschreibung</span>
                    </div>
                    <textarea class="form-control" th:value="*{parkplatz.beschreibung}" name="beschreibung"
                              id="beschreibung" aria-label="With textarea"
                              placeholder="Limitiert auf 255 Zeichen"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="count">
                <span id="remainingC"></span>
            </div>
        </div>
        <div class="row">
            <div class="col" id="warning">
                <span id="too_much"></span>
            </div>
            <div class="col" id="warning2">
                <span id="red_text"></span>
            </div>
        </div>
        <div id="reg">
            <button type="submit" class="btn btn-outline-secondary btn-lg" id="submit">Parkplatz hinzufügen</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    /*
    Folgende Funktion sorgt dafür das, wenn ein Öffentlicher Parkplatz hinzugefügt wird,
    die Eingabefelder für {Parkgebühr; Strafgebühr; Parkhöchstdauer} deaktiviert/ausgegraut werden.
    Der zweite Teil der Funktion sorgt dafür, dass die Felder wieder aktiviert werden, wenn doch
    wieder aud privater Parkplatz gewechselt wird.
*/
    $(document).ready(function () {
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Öffentlicher Parkplatz') {
                $('#strafgebuehr').prop('disabled', true);
                $('#parkgebuehr').prop('disabled', true);
                $('#parkhoechstdauer').prop('disabled', true);
            }
        });
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Privater Parkplatz') {
                $('#strafgebuehr').prop('disabled', false);
                $('#parkgebuehr').prop('disabled', false);
                $('#parkhoechstdauer').prop('disabled', false);
            }
        });
    });

    /*
        @param len soll mitzählen, wie viele Zeichen bereits eingegeben wurden
        @param maxchar ist der Limit, wie viele Zeichen eingegeben werden dürfen

        Die Funktion zählt mit wie viele Zeichen bereits eingegeben wurden und zeigt an wie viele
        noch eingegeben werden dürfen.
        Die Zahl, wie viele noch eingegeben werden dürfen wird angezeigt und bei jedem Tasten-Anschlag
        aktualisiert.
        Wenn maxchar Überschritten wird wird eine Warnanzeige angezeigt, die den Nutzer darauf aufmerksam
        machen soll. Diese Anzeige verschwindet wieder, sobald gebügend Zeichen entfernt wurden.

        Um zu verhindern, dass der Nutzer sich registriert, obwohl er zu viele Zeichen eingetragen
        hat, wird sobald zu viele Zeichen eingegeben wurden der Submit-Button deaktiviert.
        Dieser wird wieder aktiviert sobald genügend Zeichen entfernt wurden.
    */
    $(document).ready(function () {
        var len = 0;
        var maxchar = 255;

        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len > maxchar) {
                return false;
            } else if (len > 0) {
                $('#remainingC').html("Verbleibende Zeichen: " + (maxchar - len));
            } else if (len >= 255) {
                $('#too_much').html(
                    "Sie haben zu viele Zeichen verwendet. Bitte beschränken Sie sich auf 255 Zeichen."
                );
            } else {
                $('#remainingC').html("Verbleibende Zeichen: " + (maxchar));
            }
        });

        $('#plz').focusout(function(){
            var expression = /\b[0-9]{5}\b/;
            var regex = new RegExp(expression);
            var plz = $("#plz").val();
            if(plz.match(regex)){
                $('#submit').prop('disabled', false);
                $('#red_text').html("");
            }
            else{
                $('#submit').prop('disabled', true);
                $('#red_text').html("Bitte geben Sie eine gültige PLZ ein.");
            }
        });

        /*
        $('#plz').focusout(function () {
            var expression = /\b[0-9]{5}\b;
            var regex = new RegExp(expression);
            var plz = $("#plz").val();
            if(plz.match(regex)){
                $('#submit').prop('disabled', false);
                $('#red_text').html("");
            }
            else{
                $('#submit').prop('disabled', true);
                $('#red_text').html("Bitte geben Sie eine gültige PLZ ein.");
            }
        });
        */

        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len >= maxchar) {
                $('#too_much').html(
                    "Sie haben zu viele Zeichen verwendet. Bitte beschränken Sie sich auf 255 Zeichen."
                );
            }
        });
        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len < maxchar || len == maxchar) {
                $('#too_much').html("");
            }
        });
        $('#beschreibung').keyup(function () {
            if (len > maxchar) {
                $("#submit").prop('disabled', true);
            }
        });
        $('#beschreibung').keyup(function () {
            if (len <= maxchar) {
                $("#submit").prop('disabled', false);
            }
        });
    });
    /*
    function plzregex() {
        $('#plz').focusout(function () {
            var expression = /\b[0-9]{5}\b;
            var regex = new RegExp(expression);
            var plz = $("#plz").val();
            if(plz.match(regex)){
                $('#submit').prop('disabled', false);
                $('#red_text').html("");
            }
            else{
                $('#submit').prop('disabled', true);
                $('#red_text').html("Bitte geben Sie eine gültige PLZ ein.");
            }
        });
    }

     */

</script>
</body>

</html>