<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">
<head>
    <title>Parkbestätigung</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #page {
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div id="page">
    <div>
        <h3>
            <span>Der Anbieter </span>
<!--            <span th:text="anbieter"></span>-->
            <span>bedankt sich für die Nutzung seines Parkplatzes.</span>
        </h3>
    </div>
    <div>
        <h3>
            <span data-toggle="modal" data-target="#exampleModal" th:name="button" th:value="freigeben">
                Zum Freigeben bitte hier klicken</span>
        </h3>
        <a href="parkplaetze_medialist"><button type="submit" class="btn btn-outline-secondary btn-lg">Freigeben</button></a>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bitte bewerten Sie den Parkplatz</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--
                <form hidden></form>
                -->
                <div class="modal-body">
                    <div class="rate">
                        <input type="radio" id="star5" th:name="rate" th:value="5"/>
                        <label for="star5" title="5 stars">5 stars</label>
                        <input type="radio" id="star4" th:name="rate" th:value="4"/>
                        <label for="star4" title="4 stars">4 stars</label>
                        <input type="radio" id="star3" th:name="rate" th:value="3"/>
                        <label for="star3" title="3 stars">3 stars</label>
                        <input type="radio" id="star2" th:name="rate" th:value="2"/>
                        <label for="star2" title="2 stars">2 stars</label>
                        <input type="radio" id="star1" th:name="rate" th:value="1"/>
                        <label for="star1" title="1 star">1 star</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" th:name="button" th:value="freigebenZurueck" data-dismiss="modal">Zurück</button>
                    <button type="submit" class="btn btn-primary" th:name="button" th:value="freigebenSpeichern">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>