<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <title>Parkplatz hinzufügen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #row1 {
            margin-top: 30px;
        }

        #row {
            margin-top: 20px;
        }

        #row2 {
            margin-top: 20px;
        }

        #ueberschrift {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-top: 30px;
        }

        #reg {
            text-align: center;
            margin-top: 20px;
        }

        #count {
            /*
            margin-left: 62%;
            */
            margin-left: 1%;
            color: #909090;
        }

        #warning {
            /*
            margin-left: 48%;
            */
            color: red;
        }
        #warning2 {
            /*
            margin-left: 48%;
            */
            color: red;
        }
        #red_text2{
            color: red;
        }
        #img_warning{
            color: red;
        }
    </style>
</head>

<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h2 id="ueberschrift">Parkplatz Hinzufügen</h2>
    <form action="#" th:action="@{/parkplatz_hinzufuegen}"  method="post" enctype="multipart/form-data">
        <div class="row" id="row1">
            <div class="col">
                <a data-tooltip title="Nur deutsche Postleitzahlen sind gültig">
                    <input required oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" id="plz" onchange="plzregex();"
                           type="text" th:value="*{parkplatz.plz}" th:name="plz" class="form-control" placeholder="PLZ">
                </a>
            </div>
            <!--
        <div class="col">
            <input type="text" class="form-control" placeholder="Ort">
        </div>
    -->
            <div class="col-4">
                <input required type="text" th:value="*{parkplatz.strasse}" th:name="strasse" class="form-control"
                       placeholder="Straße" maxlength="30" onkeypress="return /[a-z+ß]/i.test(event.key)">
            </div>
            <div class="col-2">
                <input required type="text" th:value="*{parkplatz.hausnummer}" th:name="hausnummer" class="form-control"
                       placeholder="Hausnummer" min="0" max="999">
            </div>
        </div>
        <div class="row" id="row2">



            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <a data-tooltip title="Das Bild darf maximal 1MB Groß sein und muss vom Typ .jpg sein">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" name=imageFile>
                        </a>
                        <label class="custom-file-label" for="inputGroupFile01">Bild auswählen</label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Parkplatz Art</label>
                    </div>
                    <select class="custom-select select_parkplatz" id="inputGroupSelect01"
                            onchange="changeTextbox();" th:name="parkplatzChecked">
                        <option value="1">Privater Parkplatz</option>
                        <option value="2">Öffentlicher Parkplatz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="row3">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">EUR</span>
                    </div>
                    <input required type="number" th:value="*{parkplatz.parkgebuehr}" name="parkgebuehr" class="form-control"
                           aria-label="Amount (to the nearest dollar)" placeholder="Parkgebühr" id="parkgebuehr" min="0" max="999999">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">EUR</span>
                    </div>
                    <input required type="number" th:value="*{parkplatz.strafgebuehr}" name="strafgebuehr"
                           class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Strafgebühr"
                           id="strafgebuehr" min="0" max="999999">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row4">
            <div class="col">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input id="check_klein" type="checkbox" class="form-check-input check-test" th:name="fahrzeugtyp"
                               th:value="Kleinwagen">Kleinwagen
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input id="check_kombi" type="checkbox" class="form-check-input check-test" th:name="fahrzeugtyp"
                               th:value="Kombi">Kombi
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input id="check_suv" type="checkbox" class="form-check-input check-test" th:name="fahrzeugtyp"
                               th:value="SUV">SUV
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input id="check_van" type="checkbox" class="form-check-input check-test"
                               th:name="fahrzeugtyp" th:value="Van">Van
                    </label>
                </div>
            </div>
            <div class="col">
                <a data-tooltip title="Maximal 10.000 Minuten möglich">
                    <input required type="number" th:name="zeitbegrenzung" class="form-control"
                           placeholder="Parkhöchstdauer in Minuten" min="0" max="10000" id="parkhoechstdauer">
                </a>
            </div>
        </div>
        <div class="row" id="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Beschreibung</span>
                    </div>
                    <textarea required class="form-control" th:value="*{parkplatz.beschreibung}" name="beschreibung"
                              id="beschreibung" aria-label="With textarea"
                              placeholder="Limitiert auf 255 Zeichen"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="count">
                <span id="remainingC"></span>
            </div>
        </div>
        <div class="row">
            <div class="col" id="warning">
                <span id="too_much"></span>
            </div>
            <div class="col" id="warning2">
                <span id="red_text"></span>
            </div>
        </div>
        <div class="row">
            <span id="red_text"></span>
        </div>
        <div class="row">
            <span id="img_warning"></span>
        </div>
        <div id="reg">
            <button disabled type="submit" class="btn btn-outline-secondary btn-lg" id="submit" value="Upload">Parkplatz hinzufügen</button>
        </div>
    </form>


    <!-- //test input for picture upload
     <form method="post" enctype="multipart/form-data" action="uploadImage">
         <input type="file" name="imageFile">
         <input type="submit" value="Upload"/>

     </form>-->
</div>
<script type="text/javascript">
    var c1 = 0;
    var c2 = 0;
    var c3 = 0;
    var c4 = 0;
    var c5 = 0;
    var c6 = 0;
    $(document).ready(function () {
        $('[data-tooltip]').tooltip();
        $('.check-test').click(function () {
            //$('#submit').prop('disabled', false);
        });

        $('#inputGroupFile01').bind('change', function () {
            //alert(this.files[0].size);
            var file = this.files[0];
            var fileType = file['type'];
            var validType = ['image/jpeg'];
            if(this.files[0].size > 1000000  && $.inArray(fileType, validType) < 0){
                //alert("Sie können nur Bilder bis zu 1MB Größe hinzufügen und nur der Typ jpeg ist zulässig");
                //$('#submit').prop('disabled', true);
                c1 = 0;
                $('#img_warning').html(
                    "Bilder müssen vom Typ .jpg sein und dürfen nicht größer als 1MB sein"
                );
            }
            if (this.files[0].size > 1000000){
                //alert("Sie können nur Bilder bis zu 1MB Größe hinzufügen.");
                //$('#submit').prop('disabled', true);
                c1 = 0;
                $('#img_warning').html(
                    "Bilder müssen vom Typ .jpg sein und dürfen nicht größer als 1MB sein"
                );
            }
            if($.inArray(fileType, validType) < 0){
                //alert("Sie können nur Bilder vom Typ jpeg hinzufügen.");
                //$('#submit').prop('disabled', true);
                c1 = 0;
                $('#img_warning').html(
                    "Bilder müssen vom Typ .jpg sein und dürfen nicht größer als 1MB sein"
                );
            }
            if($.inArray(fileType, validType) >= 0 && this.files[0].size < 1000000){
                //alert("Größe passt");
                //$('#submit').prop('disabled', false);
                //alert("Bild passt");
                c1 = 1;
                $('#img_warning').html("");
            }
        });
        //AB hier: 1

        $('#check_van').click(function () {
            $('#check_klein').prop('checked', true);
            $('#check_suv').prop('checked', true);
            $('#check_kombi').prop('checked', true);
        });

        $('#check_suv').click(function () {
            $('#check_klein').prop('checked', true);
            $('#check_kombi').prop('checked', true);
        });

        $('#check_kombi').click(function () {
            $('#check_klein').prop('checked', true);
        });

        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Öffentlicher Parkplatz') {
                $('#strafgebuehr').prop('disabled', true);
                $('#parkgebuehr').prop('disabled', true);
                $('#parkhoechstdauer').prop('disabled', true);
            }
        });
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Privater Parkplatz') {
                $('#strafgebuehr').prop('disabled', false);
                $('#parkgebuehr').prop('disabled', false);
                $('#parkhoechstdauer').prop('disabled', false);
            }
        });

        //AB hier: 2
    $('.check-test').bind('change', function () {
        checked = $("input[type=checkbox]:checked").length;
        if(!checked){
            alert("Sie müssen mindestens einen Fahrzeugtyp auswählen");
            $('#submit').prop('disabled', true);
            c2 = 0;
            return false;
        }
        else{
            //$('#submit').prop('disabled', false);
            c2 = 1;
        }
    });
       /*
        $('#beschreibung').focusout(function () {
            checked = $("input[type=checkbox]:checked").length;
            if(!checked){
                alert("Sie müssen mindestens einen Fahrzeugtyp auswählen");
                //$('#submit').prop('disabled', true);
                return false;
                c2 = 0;
            }
            else{
                //$('#submit').prop('disabled', false);
                c2 = 1;
            }
        });
*/

        var len = 0;
        var maxchar = 255;

        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len > maxchar) {
                return false;
            } else if (len > 0) {
                $('#remainingC').html("Verbleibende Zeichen: " + (maxchar - len));
            } else if (len >= 255) {
                $('#too_much').html(
                    "Sie haben zu viele Zeichen verwendet. Bitte beschränken Sie sich auf 255 Zeichen."
                );
            } else {
                $('#remainingC').html("Verbleibende Zeichen: " + (maxchar));
            }
        });

        $('#plz').focusout(function(){
            var expression = /\b[0-9]{5}\b/;
            var regex = new RegExp(expression);
            var plz = $("#plz").val();
            if(plz.match(regex)){
                //$('#submit').prop('disabled', false);
                c3 = 1;
                $('#red_text').html("");
            }
            else{
                //$('#submit').prop('disabled', true);
                $('#red_text').html("Bitte geben Sie eine gültige deutsche PLZ ein.");
                c3 = 0;
            }
        });

        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len >= maxchar) {
                $('#too_much').html(
                    "Sie haben zu viele Zeichen verwendet. Bitte beschränken Sie sich auf 255 Zeichen."
                );
                c4 = 0;
            }
        });
        $('#beschreibung').keyup(function () {
            len = this.value.length
            if (len < maxchar || len == maxchar) {
                $('#too_much').html("");
                c4 = 1;
            }
        });
        $('#beschreibung').keyup(function () {
            if (len > maxchar) {
                //$("#submit").prop('disabled', true);
                c4 = 0;
            }
        });
        $('#beschreibung').keyup(function () {
            if (len <= maxchar) {
                //$("#submit").prop('disabled', false);
                c4 = 1;
            }
        });


    });

    window.setInterval(function(){
        if((c1+c2+c3+c4) == 4){
            $("#submit").prop('disabled', false);
        }
        else{
            $("#submit").prop('disabled', true);
        }
    }, 300);

    /*
    Folgende Funktion sorgt dafür das, wenn ein Öffentlicher Parkplatz hinzugefügt wird,
    die Eingabefelder für {Parkgebühr; Strafgebühr; Parkhöchstdauer} deaktiviert/ausgegraut werden.
    Der zweite Teil der Funktion sorgt dafür, dass die Felder wieder aktiviert werden, wenn doch
    wieder aud privater Parkplatz gewechselt wird.
*/


    /*
        @param len soll mitzählen, wie viele Zeichen bereits eingegeben wurden
        @param maxchar ist der Limit, wie viele Zeichen eingegeben werden dürfen

        Die Funktion zählt mit wie viele Zeichen bereits eingegeben wurden und zeigt an wie viele
        noch eingegeben werden dürfen.
        Die Zahl, wie viele noch eingegeben werden dürfen wird angezeigt und bei jedem Tasten-Anschlag
        aktualisiert.
        Wenn maxchar Überschritten wird wird eine Warnanzeige angezeigt, die den Nutzer darauf aufmerksam
        machen soll. Diese Anzeige verschwindet wieder, sobald gebügend Zeichen entfernt wurden.

        Um zu verhindern, dass der Nutzer sich registriert, obwohl er zu viele Zeichen eingetragen
        hat, wird sobald zu viele Zeichen eingegeben wurden der Submit-Button deaktiviert.
        Dieser wird wieder aktiviert sobald genügend Zeichen entfernt wurden.
    */
    /*
    function plzregex() {
        $('#plz').focusout(function () {
            var expression = /\b[0-9]{5}\b;
            var regex = new RegExp(expression);
            var plz = $("#plz").val();
            if(plz.match(regex)){
                $('#submit').prop('disabled', false);
                $('#red_text').html("");
            }
            else{
                $('#submit').prop('disabled', true);
                $('#red_text').html("Bitte geben Sie eine gültige PLZ ein.");
            }
        });
    }

     */


</script>
</body>

</html>