<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" xmlns="http://www.w3.org/1999/html" lang="de-De">

<head>
    <title>Registrieren</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #head {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .input {
            margin-top: 20px;
            margin-bottom: 20px;
        }



        #checkbox {
            margin: 10px;
        }

        #reg {
            text-align: center;
        }

        .red_text{
            color: red;
        }
    </style>
</head>

<body>
<div class="container" >
    <div>
        <h2 id="head">Registrierung </h2>
    </div>
    <form class="input" action="#" th:action="@{/registrieren}" method="post">

        <div class="row input">
            <div class="col">
                <input required style="text-transform: lowercase" type="text" th:value="*{nutzer.emailAdresse}" th:name="email" maxlength="30" class="form-control" id="mail1" placeholder="E-Mail">
            </div>
            <div class="col">
                <input required style="text-transform: lowercase" type="text" class="form-control" id="mail2" placeholder="E-Mail bestätigen">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <input required type="password" th:name="passwort" maxlength="100" minlength="6" class="form-control" id="pw1"
                       placeholder="Passwort">
            </div>
            <div class="col">
                <input required type="password" class="form-control" maxlength="100" minlength="6" id="pw2" placeholder="Passwort bestätigen">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <a data-tooltip title="Wenn Sie Anbieter auswählen, können Sie kein Kennzeichen angeben?">
                    <select required th:name="nutzertyp" class="form-control" id="nutzungs_art">
                        <option selected disabled>Wie wollen Sie G2P nutzen?</option>
                        <option th:value="konsument">Konsument</option>
                        <option th:value="anbieter">Anbieter</option>
                        <option th:value="beides">Beides</option>
                    </select>
                </a>
            </div>
            <div class="col">
                <!--            <div class="col" th:if="${nutzer.compareBenutzername(nutzerlist)} == false">-->
            <!--
                <div th:if="${param.duplicate == true}" class="alert alert-danger notification" role="alert">
                    <p>Dieser Username existiert bereits!</p>
                </div>
            -->

                <input required type="text" id="username" th:name="username" maxlength="20" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <input required type="text" style="text-transform: capitalize"
                       onkeypress="return /[a-z]/i.test(event.key)" th:value="*{nutzer.vorname}" th:name="vorname" class="form-control"
                       placeholder="Vorname" maxlength="30">
            </div>
            <div class="col">
                <input required type="text" style="text-transform: capitalize" onkeypress="return /[a-z]/i.test(event.key)"
                       th:value="*{nutzer.nachname}" th:name="nachname" class="form-control"
                       placeholder="Nachname" maxlength="30">
            </div>
        </div>

        <div class="row input">
            <div class="col-6">
                <a data-tooltip title="Bitte in folgendem Format: PA-XY-1234">
                <input required type="text" th:value="*{konsument.kennzeichen}" th:name="kennzeichen"
                       class="form-control" placeholder="Kennzeichen" id="kennzeichen">
                </a>
            </div>
            <!--
            <div class="col">
                <input type="text" class="form-control" id="color" placeholder="Fahrzeugtyp">
            </div>
        -->
            <div class="col-3">
                <select th:name="fahrzeugtyp" th:value="kleinwagen" class="form-control" id="fahrzeug_art">
                    <!--                        <option selected disabled>Fahrzeugtyp auswählen</option>-->
                    <option selected th:value="kleinwagen">Kleinwagen</option>
                    <option th:value="suv">SUV</option>
                    <option th:value="van">Van</option>
                    <option th:value="kombi">Kombi</option>
                </select>
            </div>
            <div class="col-3">
                <a data-tooltip title="Wie viele Minuten vor dem Endzeitpunkt Ihrer Reservierung möchten Sie eine
                    Erinnerungsmail erhalten?">
                <select th:name="erinnerungszeit" class="form-control " id="erinnerung">
                    <option selected th:value="15">15 Minuten</option>
                    <option th:value="30">30 Minuten </option>
                    <option th:value="45">45 Minuten</option>
                </select>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div th:if="${duplicate} == 0" id="warning">
                    <span class="red_text" id="red_text1">Dieser Benutzername ist bereits vergeben</span>
                </div>
                <div id="warning" class="col">
                    <span class="red_text" id="red_text1"></span><br>
                    <span class="red_text" id="red_text3"></span>
                </div>
                <div id="warning" class="col">
                    <span class="red_text" id="red_text2"></span><br>
                    <span class="red_text" id="red_text4"></span>
                </div>
            </div>
        </div>
        <!--
        <div class="form-group" id="checkbox">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Datenschutzrichtlinien bestätigen
                </label>
            </div>
        </div>
        -->
        <div id="reg">
            <a href="home"><button disabled type="submit" class="btn btn-outline-secondary btn-lg" id="btn">Registrieren</button></a>
        </div>
    </form>

</div>
<div class="tooltip bs-tooltip" role="tooltip">
    <div class="arrow"></div>
    <div class="tooltip-inner">
        Some text Test!
    </div>
</div>
<script>
    $(document).ready(function () {
       $('[data-tooltip]').tooltip();
    });
    var c1 = 0;
    var c2 = 0;
    var c3 = 0;
    var c4 = 0;
    var c5 = 0;

    $(document).ready(function () {
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Anbieter') {
                /*
                $('#fahrzeug_art').prop('disabled', true);
                */
                $('#kennzeichen').prop('disabled', true);
                $('#erinnerung').prop('disabled', true);
                $('#fahrzeug_art').prop('disabled', true);
                c3 = 1;
                $('#kennzeichen').val("");
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Konsument') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
                $('#erinnerung').prop('disabled', false);
                c3 = 0;
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Beides') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
                $('#erinnerung').prop('disabled', false);
                c3 = 0;
            }
        });
        /*
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Privater Parkplatz') {
                $('#strafgebuehr').prop('disabled', false);
                $('#parkgebuehr').prop('disabled', false);
                $('#parkhoechstdauer').prop('disabled', false);
            }
        });
        */

        $('#mail2').bind('change', function () {
            var mail1 = $('#mail1').val();
            var mail2 = $('#mail2').val();
            if (mail1 != mail2) {
                c1 = 0;
                $('#red_text2').html("Die zwei eingegebenen Email Adressen stimmen nicht überein!");
                //alert('Die zwei eingegebenen Email Adressen stimmer nicht überein!');
                //$('#btn').prop('disabled', true);
            } else {
                //$('#btn').prop('disabled', false);
                $('#red_text2').html("");
                c1 = 1;
            }
        });

        $('#mail1').bind('change', function () {
            var mail1 = $('#mail1').val();
            var mail2 = $('#mail2').val();
            if (mail1 != mail2) {
                c1 = 0;
                $('#red_text2').html("Die zwei eingegebenen Email Adressen stimmen nicht überein!");
                //alert('Die zwei eingegebenen Email Adressen stimmer nicht überein!');
                //$('#btn').prop('disabled', true);
            } else {
                //$('#btn').prop('disabled', false);
                $('#red_text2').html("");
                c1 = 1;
            }
        });

        $('#pw2').bind('change', function () {
            var pw1 = $('#pw1').val();
            var pw2 = $('#pw2').val();
            if (pw1 != pw2) {
                $('#red_text3').html("Passwörter stimmen nicht überein!");
                //$('#btn').prop('disabled', true);
                c2 = 0;
            } else {
                //$('#btn').prop('disabled', false);
                c2 = 1;
                $('#red_text3').html("");
            }
        });

        $('#pw1').bind('change', function () {
            var pw1 = $('#pw1').val();
            var pw2 = $('#pw2').val();
            if (pw1 != pw2) {
                $('#red_text3').html("Passwörter stimmen nicht überein!");
                //$('#btn').prop('disabled', true);
                c2 = 0;
            } else {
                //$('#btn').prop('disabled', false);
                c2 = 1;
                $('#red_text3').html("");
            }
        });

        /*
        Folgende Funktion liest den Input des Users bezüglich des Kennzeichens aus und überprüft ob es
        in der richtigen Form eingegeben wurde. Wenn dies nicht der Fall ist wird der User mittels alert informiert
        und der submit button wird ausgegraut, solange das Kennzeichen nicht in der richtigen Form eingegeben wurde.
     */
        $('#kennzeichen').bind('change', function(){
            var expression = /\b[A-Z ÄÜÖ]{1,3}[-][A-Z ÄÜÖ]{1,2}[-][0-9]{1,4}\b/g;
            var regex = new RegExp(expression);
            var kennz = $('#kennzeichen').val();
            if(kennz.match(regex) && $('#nutzungs_art').find('option:selected').text() == 'Konsument' || $('#nutzungs_art').find('option:selected').text() == 'Beides'){
                //$('#btn').prop('disabled', false);
                c3 = 1;
                $('#red_text4').html("");
            }
            /*
            else if(!kennz.match(regex) && ($('#nutzungs_art').find('option:selected').text() == 'Anbieter')){
                c3 = 1;
                $('#red_text4').html("");
                alert("Hallo was?");
            }
             */
            else{
                $('#red_text4').html("Kennzeichen muss in dem Format PA-XY-123 (Nur Großbuchstaben) angegeben werden!");
                c3 = 0;
                //$('#btn').prop('disabled', true);
            }
        });

        $('#mail1').bind('change', function(){
            var expression = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            var regex = new RegExp(expression);
            var mail = $('#mail1').val();
            if(mail.match(regex)){
                //$('#btn').prop('disabled', false);
                c4 = 1;
                $('#red_text1').html("");
            }
            else{
                $('#red_text1').html("Bitte geben Sie eine gültige E-mail Adresse ein.");
                c4 = 0;
                //$('#btn').prop('disabled', true);
            }
        });
    });

    /*
    window.setInterval(function(){
        if((!kennz.match(regex)) && ($('#nutzungs_art').find('option:selected').text() == 'Anbieter')){
            c3 = 1;
            $('#red_text4').html("");
            alert("Hallo was?");
        }
    }, 3000);
     */

    window.setInterval(function(){
        if((c1+c2+c3+c4) == 4){
            $("#btn").prop('disabled', false);
        }
        else{
            $("#btn").prop('disabled', true);
        }
    }, 300);


    //   $('#fahrzeug_art').val($("#fahrzeug_art option:first").val());
</script>
</body>

</html>