<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #head {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .input {
            margin-top: 20px;
            margin-bottom: 20px;
        }



        #checkbox {
            margin: 10px;
        }

        #reg {
            text-align: center;
        }
    </style>
</head>

<body>
<div class="container">
    <div>
        <h2 id="head">Registrierung </h2>
    </div>
    <form class="input" action="#" th:action="@{/registrieren}" th:object="${nutzer}" method="post">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{vorname}" class="form-control" placeholder="Vorname">
            </div>
            <div class="col">
                <input type="text" th:field="*{nachname}" class="form-control" placeholder="Nachname">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="container">
            <select class="form-control" id="nutzungs_art">
                <option selected disabled>Wie wollen Sie G2P nutzen?</option>
                <option>Konsument</option>
                <option>Anbieter</option>
                <option>Beides</option>
            </select>
        </div>
    </div>
    <form class="input">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Kennzeichen" id="kennzeichen">
            </div>
            <!--
            <div class="col">
                <input type="text" class="form-control" id="color" placeholder="Fahrzeugtyp">
            </div>
        -->
            <div class="col">
                <select class="form-control" id="fahrzeug_art">
                    <option selected disabled>Fahrzeugtyp auswählen</option>
                    <option>SUV</option>
                    <option>Kleinwagen</option>
                    <option>Van</option>
                    <option>Kombi</option>
                </select>
            </div>
        </div>
    </form>
    <form class="input">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="mail1" placeholder="E-Mail">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Adresse">
            </div>
        </div>
    </form>
    <form class="input">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="mail2" placeholder="E-Mail bestätigen">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="PLZ">
            </div>
        </div>
    </form>
    <form class="input">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" id="pw1" placeholder="Passwort">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="pw2" placeholder="Passwort bestätigen">
            </div>
        </div>
        <div class="form-group" id="checkbox">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Datenschutzrichtlinien bestätigen
                </label>
            </div>
        </div>
        <div id="reg">
            <button type="submit" class="btn btn-outline-secondary btn-lg" id="btn">Registrieren</button>
        </div>
    </form>

</div>
<script>
    $(document).ready(function () {
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Anbieter') {
                $('#fahrzeug_art').prop('disabled', true);
                $('#kennzeichen').prop('disabled', true);
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Konsument') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Beides') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
            }
        });
        /*
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Privater Parkplatz') {
                $('#strafgebuehr').prop('disabled', false);
                $('#parkgebuehr').prop('disabled', false);
                $('#parkhoechstdauer').prop('disabled', false);
            }
        });
        */
    });

    $('#mail2').focusout(function () {
        /*
        var mail1 = $('#mail1').text();
        var mail2 = $('#mail2').text();
        if(mail1 == mail2){
            alert('Cant do that!');
            return false;
        }
        else{
            return true;
        }
        */
        //var mail1 = $('#mail1').text();
        /*
        if( $('#mail1').val() == $('#mail2').()){
            alert('same');
            $('#mail1').css('background-color', 'red');
        }
        else{
            alert('Different value');
            $('#mail1').css('background-color', 'blue');
            }

        if($('#mail1').val() == $('#mail1').val()){
            $('#mail1').css('background-color', 'red');
        }
        else{
            $('#mail1').css('background-color', 'blue');
        }
        */
        var mail1 = $('#mail1').val();
        var mail2 = $('#mail2').val();
        if (mail1 != mail2) {
            alert('Die zwei eingegebenen Email Adressen stimmer nicht überein!');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
    $('#pw2').focusout(function () {
        var pw1 = $('#pw1').val();
        var pw2 = $('#pw2').val();
        if (pw1 != pw2) {
            alert('Passwörter stimmen nicht überein!');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
    $('#btn').focus(function () {
        if ($('#gridCheck').prop('checked') == false) {
            alert('Datenschutzrichtlinien müssen akzeptiert werden');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
    $('#gridCheck').click(function () {
        if ($('#gridCheck').prop('checked') == true) {
            $('#btn').prop('disabled', false);
        }
    });
    $('#btn').hover(function () {
        if ($('#gridCheck').prop('checked') == false) {
            alert('Datenschutzrichtlinien müsse akzeptiert werden');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
</script>
</body>

</html>