<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" xmlns="http://www.w3.org/1999/html" lang="de-De">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #head {
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .input {
            margin-top: 20px;
            margin-bottom: 20px;
        }



        #checkbox {
            margin: 10px;
        }

        #reg {
            text-align: center;
        }

        .red_text{
            color: red;
        }
    </style>
</head>

<body>
<div class="container" >
    <div>
        <h2 id="head">Registrierung </h2>
    </div>
    <form class="input" action="#" th:action="@{/registrieren}" method="post">

        <div class="row input">
            <div class="col">
                <input type="text" th:value="*{nutzer.emailAdresse}" th:name="email" class="form-control" id="mail1" placeholder="E-Mail">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="mail2" placeholder="E-Mail bestätigen">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <input type="password" th:name="passwort" class="form-control" id="pw1"
                       placeholder="Passwort">
            </div>
            <div class="col">
                <input type="password" class="form-control" id="pw2" placeholder="Passwort bestätigen">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <select th:name="nutzertyp" class="form-control" id="nutzungs_art">
                    <option selected disabled>Wie wollen Sie G2P nutzen?</option>
                    <option th:value="konsument">Konsument</option>
                    <option th:value="anbieter">Anbieter</option>
                    <option th:value="beides">Beides</option>
                </select>
            </div>
            <div class="col">
                <!--            TODO th:if ändern , dass input immer angezeigt wird, und nur mit all-->
                <!--            <div class="col" th:if="${nutzer.compareBenutzername(nutzerlist)} == false">-->
                <input type="text" th:name="username" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="row input">
            <div class="col">
                <input type="text" th:value="*{nutzer.vorname}" th:name="vorname" class="form-control"
                       placeholder="Vorname">
            </div>
            <div class="col">
                <input type="text" th:value="*{nutzer.nachname}" th:name="nachname" class="form-control"
                       placeholder="Nachname">
            </div>
        </div>

        <div class="row input">
            <div class="col">
                <input type="text" th:value="*{konsument.kennzeichen}" th:name="kennzeichen"
                       class="form-control" placeholder="Kennzeichen" id="kennzeichen">
            </div>
            <!--
            <div class="col">
                <input type="text" class="form-control" id="color" placeholder="Fahrzeugtyp">
            </div>
        -->
            <div class="col">
                <select th:name="fahrzeugtyp" th:value="kleinwagen" class="form-control" id="fahrzeug_art">
                    <!--                        <option selected disabled>Fahrzeugtyp auswählen</option>-->
                    <option selected th:value="kleinwagen">Kleinwagen</option>
                    <option th:value="suv">SUV</option>
                    <option th:value="van">Van</option>
                    <option th:value="kombi">Kombi</option>
                </select>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="warning" class="col">
                    <span class="red_text" id="red_text1"></span><br>
                    <span class="red_text" id="red_text3"></span>
                </div>
                <div id="warning" class="col">
                    <span class="red_text" id="red_text2"></span><br>
                    <span class="red_text" id="red_text4"></span>
                </div>
            </div>
        </div>
        <div class="form-group" id="checkbox">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Datenschutzrichtlinien bestätigen
                </label>
            </div>
        </div>
        <div id="reg">
            <a href="home"><button type="submit" class="btn btn-outline-secondary btn-lg" id="btn">Registrieren</button></a>
        </div>
    </form>

</div>
<script>
    $(document).ready(function () {
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Anbieter') {
                /*
                $('#fahrzeug_art').prop('disabled', true);
                */
                $('#kennzeichen').prop('disabled', true);
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Konsument') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
            }
        });
        $('#nutzungs_art').change(function () {
            if ($(this).find('option:selected').text() == 'Beides') {
                $('#fahrzeug_art').prop('disabled', false);
                $('#kennzeichen').prop('disabled', false);
            }
        });
        /*
        $('.select_parkplatz').change(function () {
            if ($(this).find('option:selected').text() == 'Privater Parkplatz') {
                $('#strafgebuehr').prop('disabled', false);
                $('#parkgebuehr').prop('disabled', false);
                $('#parkhoechstdauer').prop('disabled', false);
            }
        });
        */
    });

    $('#mail2').focusout(function () {
        /*
        var mail1 = $('#mail1').text();
        var mail2 = $('#mail2').text();
        if(mail1 == mail2){
            alert('Cant do that!');
            return false;
        }
        else{
            return true;
        }
        */
        //var mail1 = $('#mail1').text();
        /*
        if( $('#mail1').val() == $('#mail2').()){
            alert('same');
            $('#mail1').css('background-color', 'red');
        }
        else{
            alert('Different value');
            $('#mail1').css('background-color', 'blue');
            }

        if($('#mail1').val() == $('#mail1').val()){
            $('#mail1').css('background-color', 'red');
        }
        else{
            $('#mail1').css('background-color', 'blue');
        }
        */
        var mail1 = $('#mail1').val();
        var mail2 = $('#mail2').val();
        if (mail1 != mail2) {
            $('#red_text2').html("Die zwei eingegebenen Email Adressen stimmer nicht überein!");
            //alert('Die zwei eingegebenen Email Adressen stimmer nicht überein!');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
            $('#red_text2').html("");
        }
    });
    $('#pw2').focusout(function () {
        var pw1 = $('#pw1').val();
        var pw2 = $('#pw2').val();
        if (pw1 != pw2) {
            $('#red_text3').html("Passwörter stimmen nicht überein!");
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
            $('#red_text3').html("");
        }
    });
    $('#btn').focus(function () {
        if ($('#gridCheck').prop('checked') == false) {
            alert('Datenschutzrichtlinien müssen akzeptiert werden');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
    $('#gridCheck').click(function () {
        if ($('#gridCheck').prop('checked') == true) {
            $('#btn').prop('disabled', false);
        }
    });
    $('#btn').hover(function () {
        if ($('#gridCheck').prop('checked') == false) {
            alert('Datenschutzrichtlinien müsse akzeptiert werden');
            $('#btn').prop('disabled', true);
        } else {
            $('#btn').prop('disabled', false);
        }
    });
    /*
        Folgende Funktion liest den Input des Users bezüglich des Kennzeichens aus und überprüft ob es
        in der richtigen Form eingegeben wurde. Wenn dies nicht der Fall ist wird der User mittels alert informiert
        und der submit button wird ausgegraut, solange das Kennzeichen nicht in der richtigen Form eingegeben wurde.
     */
    $('#kennzeichen').focusout(function(){
        var expression = /\b[A-Z]{1,3}[-][A-Z]{1,2}[-][0-9]{1,4}\b/g;
        var regex = new RegExp(expression);
        var kennz = $('#kennzeichen').val();
        if(kennz.match(regex)){
            $('#btn').prop('disabled', false);
            $('#red_text4').html("");
        }
        else{
            $('#red_text4').html("Kennzeichen muss in dem Format PA-XY-123 (Nur Großbuchstaben) angegeben werden!");
            $('#btn').prop('disabled', true);
        }
    });

    $('#mail1').focusout(function(){
        var expression = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        var regex = new RegExp(expression);
        var mail = $('#mail1').val();
        if(mail.match(regex)){
            $('#btn').prop('disabled', false);
            $('#red_text1').html("");
        }
        else{
            $('#red_text1').html("Bitte geben Sie eine gültige E-mail Adresse ein.");
            $('#btn').prop('disabled', true);
        }
    });

    //   $('#fahrzeug_art').val($("#fahrzeug_art option:first").val());
</script>
</body>

</html>