<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org" lang="de-De">

<head>
    <title>Privater Parkplatz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- NÖTIG um Interaktivität zu aktivieren-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <style>
        #green_square {
            background-color: greenyellow;
            text-align: center;
        }

        #orange_square {
            background-color: orange;
            text-align: center;
        }

        #red_square {
            background-color: red;
            text-align: center;
        }

        .img-div{
            text-align: center;
            height: 400px;
        }


        #main-img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }


        .hintergrund_bild {
            width: 100%;
        }

        #zeit_input {
            text-align: center;
        }

        .card-title {
            text-align: center;
        }

        .col {
            text-align: center;
        }

        #ueberschrift {
            text-align: center;
        }

        #btn {
            text-align: center;
            margin-bottom: 20px;
        }

        #farbe {
            text-align: center;
        }

        #popup {
            color: red;
        }

        #popup2 {
            color: red;
        }

        #popup3 {
            color: red;
        }

        #reminder {
            text-align: center;
            margin-bottom: 2%;
            color: lightslategray;
        }

        .card-footer {
            height: 50px;
        }
        #red_text{
            text-align: center;
            color: lightslategray;
        }
        .card-img-top{
            height: 65%;
        }
    </style>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>
<!--
    ACHTUNG:
    Mit folgendem "Befehl" kann man Nav Bar aus layouts.html beziehen. Aktuell noch auskommentiert, da es
    nur funktioniert, wenn der Server läuft und ich auf die Seite nicht komme!!
<nav th:replace="layouts :: navbar"></nav>
-->
<div class="container">
    <div class="card mb-3">

            <div class="img-div">
                <img class="card-img-top" id="main-img" th:src="@{${'/photos/' + parkplatz.pid + '.jpg'}}"/>
            </div>

        <!--
        <div class="hintergrund_bild" style="background-image: url('../static/images/parkplatz5.jpg');"></div>
        -->

        <form action="#" th:action="@{/special_parkingslot}"  method="post" onsubmit="openModal()" id="myForm">

            <div class="card-body">
                <h5 class="card-title">
                    <p>
                        <span>PLZ: </span>
                        <span th:text="${parkplatz.plz}"></span>
                    </p>
                    <p>
                        <span>Straße: </span>
                        <span th:text="${parkplatz.strasse}"></span>
                        <span th:text="${parkplatz.hausnummer}"></span>
                    </p>
                </h5>
                <p>
                    <span>Beschreibung: </span>
                    <span th:text="${parkplatz.beschreibung}"></span>
                </p>

                <div class="col">
                    <div class="row">
                        <p>
                            <span>Fahrzeugtypen: </span>
                            <span th:text="${parkplatz.fahrzeugtyp}"></span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <span>Parkgebühr: </span>
                            <span th:text="${parkplatz.parkgebuehr}"></span>
                            <span> Euro</span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <span>Strafgebühr: </span>
                            <span th:text="${parkplatz.strafgebuehr}"></span>
                            <span> Euro</span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <span>Parkhöchstdauer: </span>
                            <span th:text="${parkplatz.zeitbegrenzung}"></span>
                            <span> Minuten</span>
                        </p>
                    </div>
                </div>
            </div>

            <h5 id="ueberschrift">Parkplatz Reservieren:</h5>
            <div class="row">
                <div class="col">
                    <h6>Anfangsdatum:</h6>
                    <input type="date" id="date1" th:name="startDatum" class="form-control"
                           placeholder="Bsp.: 01.01.2020">
                </div>
                <div class="col">
                    <h6>Enddatum:</h6>
                    <input type="date" id="date2" th:name="endeDatum" class="form-control" >
                    <span id="popup2"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h6>Anfangszeit</h6>
                        <input type="time" id="time1" onfocusout="test()" th:name="startZeit" class="form-control">
                        <span id="popup3"></span>
                    </div>
                </div>

                <div class="col">
                    <h6>Endzeit</h6>
                    <input type="time" id="time2" th:name="endeZeit" class="form-control" placeholder="Bsp.: 12:00">
                    <span id="popup4"></span>
                </div>

                <div class="container">
                   <!-- <h6 id="reminder">
                        <span>Sie erhalten automatisch </span>
                        <span th:text="${nutzer.erinnerung}"></span>
                        <span> Minuten vor ihrem Reservierungsbeginn eine Erinnerungsmail!</span>
                    </h6>-->
                    <h6 id="red_text">Sie können einen Parkplatz maximal 1 Stunde im voraus reservieren!</h6>
                </div>
            </div>
            <div id="btn_row">
                <div id="btn">
                    <button type="submit" class="btn btn-outline-secondary btn-lg" id="submit_btn">
                        Parkplatz Reservieren
                    </button>
                </div>
            </div>
        </form>
        <!--
        <div class="card-footer" id="farbe">
            <small class="text-muted"></small>
        </div>
        -->
        <div th:if="${parkplatz.status} == 'frei'" class="card-footer" id="green_square">
            <small class="text-muted"></small>
        </div>
        <div th:if="${parkplatz.status} == 'belegt'" class="card-footer" id="red_square">
            <small class="text-muted"></small>
        </div>
        <div th:if="${parkplatz.status} == 'fremdbelegt'" class="card-footer" id="orange_square">
            <small class="text-muted"></small>
        </div>

    </div>
</div>



<script>

    /*
    Folgende Funktion sorgt dafür, dass wenn Nein! (man will keine Erinnerungsmail erhalten)
    ausgewählt wird das Input-Fenster zur Angabe der Zeit, wann man die Mail erhalten
    möchte ausgegraut/disabled wird.
    Der Zweite Teil sorgt dafür, dass dies auch wieder enabled wird, sobald Ja! ausgewählt wird.
    Der dritte Teil sorgt dafür, dass sich die Farbe des Footers abhängig von der Auswahl des
    Statuses automatisch ändert.
*/

    /*
        Hab erfolgreich die meisten Probleme behoben. Alter Code ist noch da ABER auskommentiert!
        Einziges mir AKTUELL bekanntes PROBLEM:
        Wenn in 3.datetime input feld ('#mail') schon etwas im falschen Format eingegeben wurde und dann
        im Nachhinein noch Nein! ausgewählt wird, so bleibt das geschriebene im falschen Format in dem
        Feld und das Feld ist nicht mehr zugänig. (Gelöst!!)
        Neuer Fehler: Button wird nicht mehr aktiviert da @param: count nur 2 annimmt und nicht mehr 3.
        ---> YESSSS!!
        ---> Jetzt auch gelöst!
    */

    $('#date1').focusout(function () {
        var selected_date = $('#date1').val();
        $('#date2').val(selected_date);
    });

    $(document).ready(function () {


        /*
        $('#question').change(function () {
            if ($(this).find('option:selected').text() == 'Nein!') {
                $('#mail').prop('disabled', true);
                $('#mail_txt').css('color', 'lightgrey');
                //$('#submit_btn').prop('disabled', false);
                $('#popup3').html("");
                var input_check = $('#mail').val();
                if (input_check.length > 0) {
                    input_check = "";
                    $('#mail').val(input_check);
                }
            }
        });
        $('#question').change(function () {
            if ($(this).find('option:selected').text() == 'Ja!') {
                $('#mail').prop('disabled', false);
                $('#mail_txt').css('color', 'black');
            }
        });
        $('#belegt').change(function () {
            if ($(this).find('option:selected').text() == 'Der Parkplatz ist frei') {
                //$('#farbe').attr("green_square");
                //jQuery("div").prev("farbe").attr("id", "green_square");
                $(".card-footer").attr('id', 'green_square');
            }
            if ($(this).find('option:selected').text() ==
                'Der Parkplatz ist aktuell belegt, aber könnte auch demnächst wieder frei werden') {
                $(".card-footer").attr('id', 'orange_square');
            }
            if ($(this).find('option:selected').text() == 'Ich belege den Parkplatz') {
                $(".card-footer").attr('id', 'red_square');
            }
        });
        */
        var check1 = 0;
        var check2 = 0;
        var check3 = 0;
        var count = 0;
        //Nachfolgende Zeile im Nachhinein hinzugefügt. Nur für den fall, dass jetzt ein Fehler kommt
        $('#date2').focusout(function () {
            var date1 = $('#date1').val();
            var date2 = $('#date2').val();
            var time1 = $('#time1').val();
            var time2 = $('#time2').val();
            if(date1 > date2){
                alert("Enddatum liegt vor dem angegebenen Anfangsdatum");
                $('#submit_btn').prop('disabled', true);
            }
            else{
                $('#submit_btn').prop('disabled', false);
            }
        });
        $('#time2').focusout(function () {
            var date1 = $('#date1').val();
            var date2 = $('#date2').val();
            var time1 = $('#time1').val();
            var time2 = $('#time2').val();
            if(date1 == date2 && time2 < time1){
                alert("Endzeit liegt vor der angegebenen Anfangszeit oder Sie haben noch kein Datum eingetragen");
                $('#submit_btn').prop('disabled', true);
            }
            else{
                $('#submit_btn').prop('disabled', false);
            }
        });
    });


    function test() {
        var element = $('#time1').val();
        var datecheck = $('#date1').val();

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        if (element == "") {
            alert("Please enter time");
            return false;
        } else {
            var d = new Date();
            var m = d.getMinutes();
            var h = d.getHours();
            if (h == 0) {
                h = 24
            }
            var currentTime = h + "." + m;

            /*
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth()+1).padStart(2, '0');
                        var yyyy = today.getFullYear();
                        today = yyyy + "-" + mm + "-" + dd;



                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();

                        today = mm + '/' + dd + '/' + yyyy;
            */
            var time = element.split(":");
            var hour = time[0];
            if (hour == '00') {
                hour = 24
            }
            var min = time[1];

            var inputTime = hour + "." + min;


            var totalTime = currentTime - inputTime;
            console.log(totalTime);
            //alert("Totaltime:" + totalTime + "current: " + currentTime + "input:" + inputTime);

            /*
                      if ((Math.abs(totalTime)) > 2) {
                          document.getElementById("check1").innerHTML = "sufficient time";
                          alert("Input: " + inputTime + " cur: " + currentTime);
                      }
                      else {
                          document.getElementById("check1").innerHTML = "Less time";
                          alert("Input: " + inputTime + " cur: " + currentTime)
                      }

                      if (currentTime > inputTime) {
                          document.getElementById("check1").innerHTML = "sufficient time";
                          alert("Input: " + inputTime + " cur: " + currentTime + "current größer total:" + totalTime);
                      }
                      else {
                          document.getElementById("check1").innerHTML = "Less time";
                          alert("Input: " + inputTime + " cur: " + currentTime + " inpt größer total: " + totalTime);
                      }
              */
            if ((totalTime >= -1 && totalTime <= 0) && datecheck == today) {
                //alert("total: " + totalTime + " passt?" + today + " <- today +dcheck: " + datecheck);
                $('#submit_btn').prop('disabled', false);
                $('#red_text').html("Sie können einen Parkplatz maximal 1 Stunde im voraus reservieren!");
                $('#red_text').css('color', 'lightslategray');
            } else {
                //alert("total: " + totalTime + " passt nicht?" + +today + " today +dcheck: " + datecheck);
                $('#submit_btn').prop('disabled', true);
                $('#red_text').html("ACHTUNG: Sie können einen Parkplatz maximal 1 Stunde im voraus reservieren!");
                $('#red_text').css('color', 'red');
            }
        }
    }


</script>
</body>

</html>